body {
  background: url(AdobeStock_71546611.jpeg) no-repeat center center fixed;
  background-size: cover;
  background-color: black;
  margin: 0px;
}

form {
  display: inline-block !important;
}

.email-container {
  display: inline-block;
}

@font-face {
    font-family: CircularStd-Bold;
    src: url(CircularStd-Bold.otf);
}

.element {
  display: inline-block;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#logo {
  width: 200px;
  margin-bottom: 50px;
}

.container {
  width: 650px;
  margin-left: 100px;
  margin-top: 35px;
}

h1, p {
  color: white;
  font-family: Helvetica Neue;
  margin: 0;
}

h1 {
  font-family: CircularStd-Bold;
  font-size: 32px;
  letter-spacing: .5px;
  margin-bottom: 5px;
}

.special-h1 {
  font-family: CircularStd-Bold;
}

p {
  font-size: 20px;
  letter-spacing: .25px;
  opacity: .85;
  font-weight: 200;
}

#email, #email-button {
  padding: 10px;
  font-size: 15px;
  border: none;
  opacity: .5;
  color: #1e4687;
  width: 300px;
  cursor: pointer;
}

#email:focus {
  outline: none;
  opacity: .6;
}

.fuck-up {
  background: transparent;
  border: none;
}

.email-button {
  background: white;
  opacity: 1;
  color: #333333;
  width: 100px;
  outline: none;
  height: 37px;
  font-family: Helvetica;
  font-size: 16px;
  border: none;
  padding-top: 5px;
}

#email-button:hover {
  background: lightgrey;
}

#mc_embed_signup div.mce_inline_error {
  font-family: Helvetica;
  font-weight: normal !important;
  background: #d33d3d !important;
  padding: 10px !important;
  width: 300px;
  margin: 0 0 0 0 !important;
}

#mce-success-response, #mce-error-response {
  font-family: Helvetica;
  color: green;
  background: white;
  padding: 10px;
  margin-top: 10px;
  width: 403px;
}

#mce-error-response {
  color: red;
}


input {
  cursor: pointer;
}

.submission-container {
  cursor: pointer;
  display: inline;
}

@media (max-width: 950px) {
  .container {
    width: 600px;
    margin-left: 50px;
    margin-top: 35px;
  }

  #logo {
    margin-bottom: 30px;
  }
}

@media (max-width: 690px) {
  .container {
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
  h1 {
    font-size: 25px;
    width: 90%;
  }
  p {
    font-size: 18px;
    width: 80%;
  }
}

@media (max-width: 550px) {
  .container {
    margin-top: 15px;
  }
  h1 {
    font-size: 25px;
    width: 90%;
  }
  p {
    font-size: 18px;
    width: 100%;
  }
  #email {
    width: 200px;
  }
  #email-button {
    margin-top: 6px;
    width: 80px;
  }

  #mce-success-response, #mce-error-response {
    width: 303px;
  }
}

@media (max-width: 450px) {
  p {
    font-size: 15px;
    width: 250px;
  }

  h1 {
    font-size: 20px;
    width: 250px;
  }
}
