@font-face {
	font-family: 'Circular Bold';
	src: url('CircularStd-Bold.otf');
}

@font-face {
	font-family: 'Circular Book';
	src: url('CircularStd-Book.ttf');
}

body {
	margin: 0;
	background: #484c50 url('img/header.jpg') no-repeat center top;
	background-size: 350vw;
	font-family: 'Circular Book';
	color: #fff;
}

.home {
	width: 90%;
	max-width: 800px;
	height: 72vh;
	margin: 30px;
}

nav {
	padding: 15px 30px;
}

	.navlinks a {
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 20px 20px 0 0;
	}

	.apply { color: #ffd2c2 !important; font-weight: bold; }

.logo {
	width: 200px;
	display: block;
}

.intro {
	max-width: 470px;
}

.home-about {
	padding: 20px;
	position: relative;
}

	.bubble {
		margin-bottom: 30px;
	}

	.circle { display: none; }

	.icon img {
		display: inline-block;
		width: 55px;
		margin: 10px 20px 10px 0;
		vertical-align: middle;
	}

	.icon p {
		display: inline-block;
		width: 220px;
		vertical-align: middle;
	}

	.skyline {
		margin-top: 40px;
		width: 100%;
	}

.bar {
	height: 15px;
	display: block;
	position: relative;
	margin: 20px 0 0 0;
	background: #777;
}

.hidden {
	display: none;
}

	.bluep, .orangep, .grayp {
		background: #5fb6ce;
		width: 33.3%;
		height: 15px;
		display: inline-block;
	}
	.orangep { background: #f4855e; }
	.grayp { background: #777; }

.home-partners {
	background: #fff;
	padding: 80px 20px;
}

	.home-partners h1 {
		color: #4f4f4f;
		max-width: 600px;
		margin: 0 auto 30px auto;
	}

	.logos {
		width: 100%;
		max-width: 750px;
		display: block;
		margin: auto;
		margin-top: 120px;
		margin-bottom: 50px;
		opacity: .7;
		filter: grayscale(100%);
		transition: .5s;
	}

	.logos:hover {
		opacity: 1;
		filter: none;
	}

a, a:visited {
	text-decoration: none;
	color: #fff;
}

h1 {
	font: bold 1.5em 'Circular Bold';
}

h2 {
	font: bold 1.3em/0.6em 'Circular Bold';
}

//ABOUT - FACES
.face-row {
	max-width: 850px;
	width: 90%;
	height: 150px;
}

.face-row img {
	height: 50px;
}

//FOOTER
footer {
	background-color: black;
}

.footer-container {
	width: 100%;
	height: 100%;
	background-color: black !important;
}

.footer-content {
	width: 90%;
	margin: auto;
}

.footer-content img {
	margin: 30px 30px 30px 0px;
	width: 250px;
}

.footer-logo {
	display: inline;
}

.media-links {
	float: right;
	display: inline;
}

.media-links img {
	margin-top: 45px;
	width: 40px;
	opacity: .7;
	transition: 1s;
}

.media-links img:hover {
	opacity: 1;
}

.media-links .small {
	width: 32px;
}

.media-links .smaller {
	width: 34px;
}

@media (min-width: 480px) {
	body { background-size: 260vw; }
	.home-about {
		width: 500px;
		margin: auto;
	}
	.icon p { width: 400px; }
}

@media (min-width: 540px) {
	body { background-size: 220vw; }
}

@media (max-width: 540px) {
	.home-about {
		width: 85%;
		margin: auto;
	}

	.hidden {
		display: block;
		width: 85%;
		margin: auto;
	}

	.home-partners h1 {
		width: 83%;
		margin-bottom: -20px;
	}

	.not-hidden {
		display: none;
	}

	.media-links {
		display: none;
	}

	.footer-content {
		text-align: center;
	}
}

@media (min-width: 680px) {
	body { background-size: 150vw; }
	.home {
		margin: 40px 100px;
		height: 80vh;
	}
	.logo {
		width: 250px;
		display: inline-block;
		margin-top: 5px;
	}
	.navlinks {
		float: right;
	}
	.circle {
		position: relative;
		z-index: 0;
		display: block;
		width: 330px;
		margin: -200px auto 0 auto;
	}
	.bubble {
		position: absolute;
		top: -130px;
		left: 175px;
		width: 200px;
	}
	.icon p { font-size: 1em; }
	.icon img { margin: 0; }
	.professional {
		position: absolute;
		top: -180px;
		left: -20px;
	}
		.professional p {
			width: 140px;
			float: left;
			text-align: right;
			margin: -5px 20px 0 0;
		}
	.bond {
		position: absolute;
		top: -180px;
		right: -10px;
	}
		.bond p {
			width: 140px;
			margin: -5px 0 0 20px;
		}
	.social {
		position: absolute;
		top: -10px;
		left: -80px;
	}
		.social p {
			width: 140px;
			float: left;
			text-align: right;
			margin: -5px 20px 0 0;
		}
	.tree {
		position: absolute;
		top: -10px;
		right: -80px;
	}
		.tree p {
			width: 140px;
			margin: -5px 0 0 20px;
		}
	h1 { font-size: 2em; }
	h2 { font: bold 2.2em/1em 'Circular Bold'; }
	p { font-size: 1.25em; }
}
@media (min-width: 740px) {
	.home { height: 105vh; }
}
@media (min-width: 990px) {
	body { background-size: 120vw; }
}
@media (min-width: 1100px) {
	body { background-size: 100vw; }
}

/* HOMEPAGE */
.element {
	display: inline-block;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
