@font-face {
	font-family: 'Circular Bold';
	src: url('CircularStd-Bold.otf');
}

@font-face {
	font-family: 'Circular Book';
	src: url('CircularStd-Book.ttf');
}

body {
	margin: 0;
	background: #f8f8f8;
	font-family: 'Circular Book';
	color: #4f4f4f;
	line-height: 1.5em;
}

a, a:visited {
	text-decoration: none;
	color: #000;
}

h1 {
	font: bold 1.5em 'Circular Bold';
}

h2 {
	font: bold 1.3em/0.6em 'Circular Bold';
}

.article {
	width: 40px !important;
	margin: 0px 10px 0px 30px;
}

.header {
	background: #fff url('img/header.jpg') no-repeat;
	background-position: 50% 40%;
	background-size: 100vw;
	height: 100px;
	padding: 30px;
	vertical-align: middle;
}

	.blue {
		background: #25aacf url('img/header-blue.jpg') no-repeat;
		background-position: 50% 70%;
		background-size: 100vw;
	}

	.orange {
		background: #ef6738 url('img/header-orange.jpg') no-repeat;
		background-position: 50% 40%;
		background-size: 100vw;
	}

	.header h1 {
		max-width: 400px;
		color: #fff;
		text-shadow: 0px 0px 20px #666;
		vertical-align: middle;
	}

.content {
	width: 90%;
	max-width: 800px;
	margin: 30px auto 60px auto;
	margin-bottom: 100px;
}

nav {
	padding: 15px 30px;
	background: #fff;
}

	.navlinks a {
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 10px 20px 0 0;
		color: #aaa;
	}

	.navlinks .current {
		padding-bottom: 3px;
		border-bottom: 1px solid #ccc;
	}

	.apply { color: #ee5925 !important; font-weight: bold; }

.logo {
	width: 200px;
	display: block;
}

.bold {
	font-weight: 600;
	font-size: 16px;
}

.quote {
	opacity: .5;
}

.bar {
	height: 10px;
	display: block;
	position: relative;
	margin: 0;
	background: transparent;
	line-height: .5em;
}

	.bluep, .orangep, .grayp {
		background: #5fb6ce;
		width: 33.3%;
		height: 10px;
		display: inline-block;
	}
	.orangep { background: #f4855e; }
	.grayp { background: #777; }

.partner {
	background: #fff;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 0 2px #ddd;
	margin-bottom: 20px;
	display: block;
}

	.partner img { width: 140px; vertical-align: middle; }
	.partner p {
		display: inline-block;
		vertical-align: middle;
		width: 40%;
		padding: 20px;
	}
	.partner:hover {
		border-bottom: 1px solid #bbb;
		box-shadow: 0 0 2px #bbb;
	}

/* FOOTER */
footer {
	background-color: black;
}

.footer-container {
	width: 100%;
	height: 100%;
	background-color: black !important;
}

.footer-content {
	width: 90%;
	margin: auto;
}

.footer-content img {
	margin: 30px 30px 30px 0px;
	width: 250px;
}

.footer-logo {
	display: inline;
}

.media-links {
	float: right;
	display: inline;
}

.media-links img {
	margin-top: 45px;
	width: 40px;
	opacity: .7;
	transition: 1s;
}

.media-links img:hover {
	opacity: 1;
}

.media-links .small {
	width: 32px;
}

.media-links .smaller {
	width: 34px;
}

@media (min-width: 680px) {
	.header {
		padding: 100px 0 60px 0;
	}
	.logo {
		width: 250px;
		display: inline-block;
	}
	nav {
		position: fixed;
		width: 96%;
		z-index: 101;
		box-shadow: 0 0 2px #ddd;
	}
	.navlinks {
		float: right;
	}
	h1 { font-size: 2em; }
	h2 { font: bold 2.2em/1em 'Circular Bold'; }
	p { font-size: 1em; }

	.partner p {
		width: 60%;
	}
}

@media (max-width: 540px) {
	.home-about {
		width: 85%;
		margin: auto;
	}

	.hidden {
		display: block;
		width: 85%;
		margin: auto;
	}

	.home-partners h1 {
		width: 83%;
		margin-bottom: -20px;
	}

	.not-hidden {
		display: none;
	}

	.media-links {
		display: none;
	}

	.footer-content {
		text-align: center;
	}

	.partner p {
		width: 80% !important;
	}

	.article {
		margin-top: 30px;
		margin-bottom: -20px;
		margin-left: 20px;
	}

	.partner-logo {
		margin-bottom: -60px;
	}
}
