extends includes/layout
block content
  .header.blue
    .primary-column
      h1
        | What do you picture when
        br
        | you think of Los Angeles?
  br
  br
  .primary-column
    h2 The "Silicon Beach"
    p
      | Though coined the “Entertainment Capital of the World”, Los Angeles is at the intersection of arts, culture, food, and technology. We're a new kind of mecca—home to the fastest and most diverse set of startups, Los Angeles is quickly becoming one of the technology leaders in the nation.
    p
      | Our mission is to expose students to the diverse technology scene in Los Angeles, connect companies to incredible talent, and build a family of engaged, forward-thinking leaders that will move the city forward.
    br
    hr
    br
    h2 Los Angeles Tech News
    br

    +card(nytimes)
    +card(tc)
    +card(bloomberg)

    include includes/blurb

      

