extends includes/layout
block content
    <meta http-equiv="refresh" content="1; url=https://sparksc.typeform.com/to/MXqwgp" />
    .primary-column
        .home-partners.redirect-screen
            <img id="icon" src="img/techla-icon.png"></img>
            h2 Welcome to Tech.LA!
            p You should be redirected to the app shortly.
            p.italic(style='opacity: .8') If you aren't redirected, <a class='sick' href=''>click here.</a>  
