extends includes/layout
block content
  .header.blue
    .primary-column.content
      h1
        | All you need to know as a 
        br
        | student applicant.
  .primary-column
    br
    br
    h2 Frequently Asked Questions
    br
    +question(q1)
    +question(q2)
    +question(q3)
    +question(q4)
    +question(q5)

    br
    br
