doctype html
html(lang='en')
  include includes/head
  body
    include includes/nav
    .header.blue
      .primary-column.content
        h1
          | All you need to know as a 
          br
          | student applicant.
    .primary-column
      br
      br
      h2 Frequently Asked Questions
      br
      a.faq
        img.partner-icon(src='img/faq/clock.png', alt='')
        p
          span.bold When will Finalists hear back from companies?
          br
          span.quote
            | Finalists should hear back from companies within 3-5 weeks of finalist decisions.
      a.faq
        img.partner-icon(src='img/faq/no-contact.png', alt='')
        p
          span.bold What happens if I’m a Finalist and I don’t hear back from a company? 
          br
          span.quote
            | Companies will only reach out to finalists they are interested in interviewing for internship positions. As such, it is possible that some Finalists will not hear back from any companies. We will send an application update to all Finalist at the end of the interviewing period (late March - early April) updating them on their status.
      a.faq
        img.partner-icon(src='img/faq/housing.png', alt='')
        p
          span.bold Will housing be provided for the Fellows?
          br
          span.quote
            | We are working on providing a set housing option for our Fellows. This may be subsidized, but will not be free of cost.
      a.faq
        img.partner-icon(src='img/faq/cal.png', alt='')
        p
          span.bold When does the Fellows program begin and end?
          br
          span.quote
            | While your internships may begin earlier and/or end later, the Fellows programming will begin in mid-June and end in mid-late August.
      a.faq
        img.partner-icon(src='img/faq/more-q.png', alt='')
        p
          span.bold Who should I contact if I have any more questions?
          br
          span.quote
            | If you have any questions about the program, the selection process, or anything at all, please send us an email at 
            span fellows@tech.la
            | , and we will get back to you as soon as possible!
      br
      br
      br
      include includes/blurb
    br
    br
    footer
