extends includes/layout
block content

  .header.blue
      .primary-column
        h1
          | Our Fellows

  .grid
    .module
      .center-middle
        img(src='img/fellows/amywalker3.png')
        .fellowName Amy Walker
        .fellowBio Fellows 3.0
    .module
      .center-middle
        img(src='img/fellows/andywang3.png')
        .fellowName Andy Wang
        .fellowBio Fellows 3.0
    .module
      .center-middle
        img(src='img/fellows/archanavenkatesh3.png')
        .fellowName Archana Venkatesh
        .fellowBio Fellows 3.0
    .module
      .center-middle
        img(src='img/fellows/ashleymiao2.png')
        .fellowName Ashley Miao
        .fellowBio Fellows 2.0
    .module
      .center-middle
        img(src='img/fellows/baileyjames3.png')
        .fellowName Bailey James
        .fellowBio Fellows 3.0
    .module
      .center-middle
        img(src='img/fellows/brianlien2.png')
        .fellowName Brian Lien
        .fellowBio Fellows 2.0
    .module
      .center-middle
        img(src='img/fellows/chrisngai3.png')
        .fellowName Chris Ngai
        .fellowBio Fellows 3.0
    .module
      .center-middle
        img(src='img/fellows/ericcasarez3.png')
        .fellowName Eric Casarez
        .fellowBio Fellows 3.0
    .module
      .center-middle
        img(src='img/fellows/euminlee3.png')
        .fellowName Eumin Lee
        .fellowBio Fellows 3.0
    .module
      .center-middle
        img(src='img/fellows/grantfong1.png')
        .fellowName Grant Fong
        .fellowBio Fellows 1.0
    .module
      .center-middle
        img(src='img/fellows/halpan2.png')
        .fellowName Hal Pan
        .fellowBio Fellows 2.0
    .module
      .center-middle
        img(src='img/fellows/joshmiller1.png')
        .fellowName Josh Miller
        .fellowBio Fellows 1.0
    .module
      .center-middle
        img(src='img/fellows/justinhe1.png')
        .fellowName Justin He
        .fellowBio Fellows 1.0
    .module
      .center-middle
        img(src='img/fellows/nidhibhanu2.png')
        .fellowName Nidhi Bhanu
        .fellowBio Fellows 2.0
    .module
      .center-middle
        img(src='img/fellows/oliviabrown1.png')
        .fellowName Olivia Brown
        .fellowBio Fellows 1.0
    .module
      .center-middle
        img(src='img/fellows/roberttseng1.png')
        .fellowName Robert Tseng
        .fellowBio Fellows 1.0
    .module
      .center-middle
        img(src='img/fellows/samresendez1.png')
        .fellowName Sam Resendez
        .fellowBio Fellows 1.0
    .module
      .center-middle
        img(src='img/fellows/stephng3.png')
        .fellowName Steph Ng
        .fellowBio Fellows 3.0
    .module
      .center-middle
        img(src='img/fellows/stormyjackson1.png')
        .fellowName Stormy Jackson
        .fellowBio Fellows 1.0
    .module
      .center-middle
        img(src='img/fellows/timguiteras3.png')
        .fellowName Tim Guiteras
        .fellowBio Fellows 3.0

