html(lang='en')
  include includes/head
  body
    include includes/nav
    script.
      function countdown(endDate) {
        let days, hours, minutes, seconds;
        
        endDate = new Date(endDate).getTime();
        
        if (isNaN(endDate)) {
        return;
        }
        
        setInterval(calculate, 1000);
        
        function calculate() {
          let startDate = new Date();
          startDate = startDate.getTime();
          
          let timeRemaining = parseInt((endDate - startDate) / 1000);
          
          if (timeRemaining >= 0) {
            days = parseInt(timeRemaining / 86400);
            timeRemaining = (timeRemaining % 86400);
            
            hours = parseInt(timeRemaining / 3600);
            timeRemaining = (timeRemaining % 3600);
            
            minutes = parseInt(timeRemaining / 60);
            timeRemaining = (timeRemaining % 60);
            
            seconds = parseInt(timeRemaining);
            
            // Populates counter
            document.getElementById("days").innerHTML = `${parseInt(days, 10)} DAYS.`;
            document.getElementById("hours").innerHTML = `${parseInt(hours, 10)} HOURS.`;
          } else {
            return;
          }
        }
      }

      countdown('02/07/2019 11:59:59 PM'); 

    script.
      $(document).ready(function() {
          var options = {
              strings: ['engineering', 'design', 'tech', 'new'],
              typeSpeed: 20,
              startDelay: 500,
              smartBackspace: true,
              backspeed: 1000,
              backDelay: 5000
          }
          var typed = new Typed(".element", options);
      });

    <div class="hero">
      <div class="hero-content">
        <h1 class="hide" id='movingType'>Start your <div class="element"></div>career in LA.</h1>
        <h1 class="show">Start your new career in LA.</h1>
          <a id="button-left" target='_blank' href="https://sparksc.typeform.com/to/lp1ar1"><div class="hero-button">Apply here</div></a>
          <a id="button-right" target="_blank" href="https://medium.com/@TechLAFellows"><div id="less" class="hero-button">Meet the Fellows »</div></a>
      </div>
    </div>
    <div class="banner">
      <div class="banner-text">
        <h1><span id="counter-text">SUMMER 2019 APP CLOSES IN </span>
        <span id="days"></span>
        </h1>
      </div>
    </div>
    <br>
    <div class="primary-column">
      <div class="fellows-image">
        <img id="group-photo" src="img/media17/techla-group-photo.png"></img>
      </div>
      <div class="fellows-elevator">
        <div class="floater">
          <h2>What is Tech.LA Fellows?</h2>
          <p>Tech.LA Fellow’s 10-week Summer Fellowship gives highly motivated students in design, engineering, and business a paid internship with a Los Angeles startup. Tech.LA Fellows is brought to you by <a class='sick' target='_blank' href='https://www.wondervc.com'>Wonder Ventures.</a></p>
        </div>
      </div>
    </div>

    <div class="bar"></div>
      <div class="primary-column">
        <div class="mission">
          <div id="tighten">
            <img id="icon" src="img/techla-icon.png"></img>
            <h2 id="">The Tech.LA Mindset</h2>
          </div>
          <p>During the summer, Tech.LA Fellows intern with partner companies to build and improve products in engineering, design, or business positions. We believe that with all of its unique offerings—entertainment capital of the world, a cultural boon, bustling downtown, and a tech community on the rise—Los Angeles deserves a technology ecosystem as robust as what you can find up north. </p>
        </div>

        <div class="row spacer">
          <div class="column">
            <img id="fireside-pic" src="img/media17/techla-tall.png"></img>
          </div>
          <div class="column scrunch">
            .value
              <h2 class="blue-title">Build</h2>
              <p>a family of talented, driven individuals who are proud of their work.</p>
            .value
              <h2 class="blue-title">Expose</h2>
              <p>students to the unique qualities of Los Angeles' startup ecosystem.</p>
            .value
              <h2 class="blue-title">Impact</h2>
              <p>the local entrepreneurial community and set a new standard for tech in Los Angeles.</p>
          </div>
        </div>

    </div>

    <div class="background-image">
      <h1 class="centerblock">Partnering Companies</h1>
    </div>

    <div class="primary-column">
      <div class="home-partners">
        <p>Our partner companies span everything from building electric trucks to creating next-generation mobile apps. As a Tech.LA Fellow, you'll spend the summer interning, learning, and growing with one of them.</p>
        <a href="/partners.html"><img class="logos not-hidden" src="img/techla-fellows-companies-previous.png" alt="companies"></a>
        <a class="hidden" href="/partners.html"><img class="logos" src="img/techla-fellows-companies-previous-mobile.png" alt="companies-narrow"></a>
      </div>


      <p>In addition to a paid internship at one of Tech.LA's partner companies, Fellows will have the opportunity to talk and interact with Los Angeles tech leaders. In the past, Fellows have sat down with individuals like <strong>Jeff Morris Jr.</strong>, Director of Product and Revenue at Tinder and Venture Capitalist <strong>Laurent Grill</strong> from Luma Launch.</p>
      <div class="bar"></div>
      <div class="row">
        <div class="column" id="vertical-center">
          <h2><span class="highlight">Fireside Chat</span></h2>
          p.
            The Fellows listened to Jeff and his
            experience working at Tinder. He
            generously offered his time and
            stayed after his presentation to talk
            about tech in Los Angeles.
        </div>
        <div class="column center" style="">
          <img id="fireside-pic" src="img/media17/techla-tinder.png"></img>
        </div>
</div>
    <div class="bar"></div><br><br>
