extends includes/layout
block content
  <div class="hero">
    <div class="hero-content">
      <h1 class="hide" id='movingType'>Start your <div class="element"></div>career in LA.</h1>
      <h1 class="show">Start your new career in LA.</h1>
        <a id="button-left" target='_blank' href="https://sparksc.typeform.com/to/lp1ar1"><div class="hero-button">Apply here</div></a>
        <a id="button-right" target="_blank" href="https://medium.com/@TechLAFellows"><div id="less" class="hero-button">Meet the Fellows »</div></a>
    </div>
  </div>
  .banner
    .banner-text
      <h1><span id="counter-text">SUMMER 2019 APP CLOSES IN </span>
      <span id="days"></span>
      </h1>
  br
  .primary-column
    .fellows-image
      <img id="group-photo" src="img/media17/techla-group-photo.png"></img>
    .fellows-elevator
      .floater
        h2 What is Tech.LA Fellows?
        +par(paragraphs.whatisfellows)
        
    +bar
    .primary-column
      .mission
        #tighten
          <img id="icon" src="img/techla-icon.png"></img>
          h2 The Tech.LA Mindset
        +par(paragraphs.mindset)

      .row.spacer
        .column
          <img id="fireside-pic" src="img/media17/techla-tall.png"></img>
        .column.scrunch
          +value('Build', 'a family of talented, driven individuals who are proud of their work.')
          +value('Expose', "students to the unique qualities of Los Angeles' startup ecosystem.")
          +value('Impact', 'the local entrepreneurial community and set a new standard for tech in Los Angeles.')

  .background-image
    h1.centerblock Partnering Companies

  .primary-column
    .home-partners
      +par(paragraphs.partners[0])
      ul.logos-flex-container
        +flexImg(honey)
        +flexImg(tala)
        +flexImg(fabfitfun)
        +flexImg(joymode, 'small')
        +flexImg(salted)
        +flexImg(goat)
        +flexImg(raya, 'square')
        +flexImg(algolift, 'long')
        +flexImg(drayalliance, 'long')
        +flexImg(lumi, 'small')
        +flexImg(dogtown, 'long')
        +flexImg(trustory)
        +flexImg(playfull)

    +par(paragraphs.partners[1])
    +spotlight(spotlights.jeff)
    
    include includes/blurb
