doctype html
html(lang='en')
  include includes/head
  body
    include includes/nav
    .header.orange
      .primary-column
        h1
          | The best, budding startups
          br
          |  in Los Angeles.
    br
    br
    .primary-column
      h2 Our Partners
      br
      a.partner(href='http://faemaps.com', target='_blank')
        img(src='img/logos/faemap.jpg', alt='')
        p Fae Map connects people and communities on a real-time social map.
      a.partner(href='http://flux.la/', target='_blank')
        img.partner-logo(src='img/logos/flux.jpg', alt='')
        p
          | Flux builds brands and businesses through high quality graphic design, creative digital marketing, and incredible user experiences.
      a.partner(href='http://lavisual.com/', target='_blank')
        img.partner-logo(src='img/logos/lavisual.jpg', alt='')
        p
          | La Visual is a digital agency specializing in brand development, user experience design and digital marketing strategy to help launch your brand.
      a.partner(href='https://omaze.com/', target='_blank')
        img.partner-logo(src='img/logos/omaze.jpg', alt='')
        p
          | Omaze is building a community that leverages the power of story and technology to transform lives.
      a.partner(href='http://synk.io/', target='_blank')
        img.partner-logo(src='img/logos/synkio.jpg', alt='')
        p
          | Synkio simplifies the process of licensing songs for TV productions, films, advertisements, computer games, apps, YouTube videos and radio productions.
      a.partner(href='http://beplayfull.com/', target='_blank')
        img.partner-logo(src='img/logos/playfull.jpg', alt='Playfull')
        p
          | PlayFull is an app where you can play games and win food. We're expanding rapidly with Chipotle, Coffee Bean, and the best food brands in the world.
      a.partner(href='http://www.tapblaze.com/', target='_blank')
        img.partner-logo(src='img/logos/tapblaze.jpg', alt='Tapblaze')
        p
          | Tapblaze is a leading producer of mobile entertainment experiences for casual gamers. They’ve produced multiple hits on Android and continue to turn new ideas into creative content.
      a.partner(href='https://www.thepuffpack.com/', target='_blank')
        img.partner-logo(src='img/logos/puffpack.png', alt='Puff Pack')
        p
          | Puff Pack is a subscription service that sends you the smoking supplies you need at the most affordable price possible. Customize your pack however your like for the best experience.
      a.partner(href='http://www.thortrucks.com/', target='_blank')
        img.partner-logo(src='img/logos/thortrucks.png', alt='Thor Trucks')
        p
          | Thor Trucks is developing electric freight-grade semi-trucks for use in business and enterprise with a focus on being environmentally, socially, and financially responsible throughout the process.
      br
      br
      br
      include includes/blurb
    br
    br
    footer
