extends includes/layout
block content
  .header.orange
    .primary-column
      h1
        | The best, budding startups
        br
        |  in Los Angeles.
  br
  br
  .primary-column
    h2 Our Partners
    br
    +partner(honey, 'zoom')
    +partner(tala)
    +partner(fabfitfun)
    +partner(joymode)
    +partner(salted)
    +partner(goat)
    +partner(raya, 'square')
    +partner(algolift)
    +partner(drayalliance, 'long')
    +partner(lumi)
    +partner(dogtown, 'long')
    +partner(trustory, 'square')

    br
    br
    br
    include includes/blurb
