.footer-container
        .primary-column
          .footer-content
            .footer-links
              ul.title Website Links
              ul.soft
                a(href='about.html') About
              ul.soft
                a(href='partners.html') Partners
              ul.soft
                a(href='faq.html') FAQ
              ul.soft
                a(target='_blank', href='https://medium.com/@TechLAFellows') Student Section
              ul.soft
                a(target='_blank', href='https://sparksc.typeform.com/to/lp1ar1') Apply
            .media-links
              a(href='https://twitter.com/gosparksc?lang=en', target='_blank')
                img.twitter(src='img/twitter.png')
              a(href='https://www.facebook.com/techlafellowship/', target='_blank')
                img(src='img/fb.png')
              a(href='https://www.linkedin.com/company/3758371?trk=prof-exp-company-name', target='_blank')
                img(src='img/linkedin.png')