head
    <link rel="stylesheet" href="/app.css">
    <script src="/vendor.js"></script>
    <script src="/app.js"></script>
    <script>require('initialize');</script>

    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    //- OpenGraph properties
    meta(property='og:title', content='Tech.LA Fellows')
    meta(property='og:url', content='https://tech.la')
    meta(property='og:description', content='Tech.LA Fellows is looking for exceptionally talented undergraduate students in computer science, design, and business to work as interns at budding startups in LA.')
    meta(property='og:image', content='https://tech.la/img/techla-stacked.png')

    //- Main title
    title Tech.LA Fellows
    link(href='https://fonts.googleapis.com/css?family=Roboto+Mono', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

    //- Typed.js
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

    //- JQuery
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>