doctype html

include head
include mixins.pug
include variables.pug

body
// loads navigation bar for each page
include nav

// this is where content will be loaded for subsequent pages
block content

// footer
include foot