nav.standard-nav
    .nav-content
        a(href='/')
            img.logo(src='img/fellows-logo-wondervc.png')
        .navlinks
            a.norm(href='about.html') About
            a.norm(href='partners.html') Partners
            a.norm(href='faq.html') FAQ
            a.hide |
            a.norm.hide(href='https://medium.com/@TechLAFellows', target='_blank') Student Section »
            a.nav-button.hide.flush(target='_blank') Apply
            a.norm.show(target='_blank') Apply