// HOMEPAGE
-
    const paragraphs = {
        whatisfellows: "Tech.LA Fellow’s 10-week Summer Fellowship gives highly motivated students in design, engineering, and business a paid internship with a Los Angeles startup. Tech.LA Fellows is brought to you by <a class='sick' target='_blank' href='https://www.wondervc.com'>Wonder Ventures.</a>",
        
        mindset: "During the summer, Tech.LA Fellows intern with partner companies to build and improve products in engineering, design, or business positions. We believe that with all of its unique offerings—entertainment capital of the world, a cultural boon, bustling downtown, and a tech community on the rise—Los Angeles deserves a technology ecosystem as robust as what you can find up north.",
        
        partners: [
            "Our partner companies span everything from building electric trucks to creating next-generation mobile apps. As a Tech.LA Fellow, you'll spend the summer interning, learning, and growing with one of them.", 
            "In addition to a paid internship at one of Tech.LA's partner companies, Fellows will have the opportunity to talk and interact with Los Angeles tech leaders. In the past, Fellows have sat down with individuals like <strong>Jeff Morris Jr.</strong>, Director of Product and Revenue at Tinder and Venture Capitalist <strong>Laurent Grill</strong> from Luma Launch."
        ],
    }

// SPOTLIGHTS
-
    const spotlights = {
        jeff: {
            head: 'Fireside Chat',
            sub: 'The Fellows listened to Jeff and his experience working at Tinder. He generously offered his time and stayed after his presentation to talk about tech in Los Angeles.',
            img: 'img/media17/techla-tinder.png',
        }
    }

// ARTICLES
- 
    const nytimes = {
        link: 'https://www.nytimes.com/2014/03/16/fashion/Santa-Monica-Venice-Technology-Start-ups.html?_r=0',
        img: 'img/nyt-t-logo.png',
        title: 'Silicon Beach - The Next Big Thing?',
        sub: 'There’s this guarded optimism, at least that I feel, that everyone thinks L.A. could be the next big thing.',
    }

    const tc = {
        link: 'https://techcrunch.com/2014/10/08/theres-something-going-on-in-l-a/',
        img: 'img/tc-logo.jpg',
        title: "There's Something Going on in LA",
        sub: "Many people don’t realize that the majority of the monetization of the Internet originated in Los Angeles but was perfected in Silicon Valley.",
    }

    const bloomberg = {
        link: 'https://www.bloomberg.com/news/articles/2016-05-25/growing-l-a-tech-scene-bets-on-entertainment-beyond-cat-videos',
        img: 'img/b-logo.png',
        title: "Growing L.A. Tech Scene Bets on Entertainment",
        sub: "Los Angeles’s technology industry is riding a wave of Internet video innovation that threatens to swamp the city’s last outpost of bohemian beach culture.",
    }

// COMPANIES
-
    const honey = {
        link: 'http://gethoney.com',
        img: 'img/logos/honey.png',
        sub: 'Designed to help consumers save time and money, Honey’s 10 million users worldwide, shop over 30,000 retailers knowing that Honey is finding the best deals and coupons for their everyday needs.',
    }

    const tala = {
        link: 'http://tala.co',
        img: 'img/logos/tala.png',
        sub: 'Tala is mobile technology and data science company that is revolutionizing financial services in emerging markets.',
    }

    const fabfitfun = {
        link: 'http://fabfitfun.com',
        img: 'img/logos/fabfitfun.png',
        sub: "FabFitFun inspires happiness through discovery. We're the #1 full-size subscription box, helping our members discover brands and products for a life well-lived.",
    }

    const joymode = {
        link: 'http://joymode.com',
        img: 'img/logos/joymode.png',
        sub: "Joymode lends you everything you need to have the experiences you want — from everyday activities to unforgettable moments.",
    }

    const salted = {
        link: 'http://saltedtv.com',
        img: 'img/logos/salted.png',
        sub: "Salted is a platform for tomorrow's food brands, consisting of a growing network of virtual restaurants & an online cooking school.",
    }

    const goat = {
        link: 'http://goat.com',
        img: 'img/logos/goat.png',
        sub: "GOAT is a marketplace for buying and selling sneakers and streetwear.",
    }

    const raya = {
        link: 'http://rayatheapp.com',
        img: 'img/logos/raya.png',
        sub: "Raya is an online membership-based community for dating, networking, and making new friends.",
    }

    const algolift = {
        link: 'http://algolift.com',
        img: 'img/logos/algolift.png',
        sub: "AlgoLIFT is making it easier than ever for companies to utilize top of the line data science to optimize their business.",
    }

    const drayalliance = {
        link: 'http://drayalliance.com',
        img: 'img/logos/drayalliance.png',
        sub: 'Dray Alliance is a b2b platform in the shipping & logistics space that offers the "ride-sharing" model to deliver containers from containers from port to distribution centers.',
    }

    const lumi = {
        link: 'http://lumi.com',
        img: 'img/logos/lumi.png',
        sub: "Lumi.com provides packaging and shipping supplies to online brands, from small businesses to leading companies shipping millions of orders per month.",
    }

    const playfull = {
        link: 'https://playfull.com/',
        img: 'img/logos/playfull.png',
        sub: "PlayFull is an app and analytics platform that uses games to help restaurants engage their customers and increase sales.",
    }

    const dogtown = {
        link: 'http://dogtownmedia.com',
        img: 'img/logos/dogtownmedia.svg',
        sub: "Dogtown Media is a mobile app development company develops mobile apps to solve everyday problems and simplify frustrating activities.",
    }

    const trustory = {
        link: 'https://www.trustory.io/',
        img: 'img/logos/trustory.jpg',
        sub: 'Trustory is an incentived social network that lets users collectively identify what is true and what is not.'
    }

// FAQ

-
    const q1 = {
        q: 'When will Finalists hear back from companies? ',
        a: 'Finalists should hear back from companies within 3-5 weeks of finalist decisions.',
    }

    const q2 = {
        q: 'What happens if I’m a Finalist and I don’t hear back from a company?',
        a: 'Companies will only reach out to finalists they are interested in interviewing for internship positions. As such, it is possible that some Finalists will not hear back from any companies. We will send an application update to all Finalist at the end of the interviewing period (late March - early April) updating them on their status.',
    }

    const q3 = {
        q: 'Will housing be provided for the Fellows?  ',
        a: 'We are working on providing a set housing option for our Fellows. This may be subsidized, but will not be free of cost.',
    }

    const q4 = {
        q: 'When does the Fellows program begin and end?  ',
        a: 'While your internships may begin earlier and/or end later, the Fellows programming will begin in mid-June and end in mid-late August.',
    }

    const q5 = {
        q: 'Who should I contact if I have any more questions?   ',
        a: 'If you have any questions about the program, the selection process, or anything at all, please send us an email at <a href=mailto:"fellows@tech.la">fellows@tech.la</a>, and we will get back to you as soon as possible!',
    }

