- 
    const nytimes = {
        link: 'https://www.nytimes.com/2014/03/16/fashion/Santa-Monica-Venice-Technology-Start-ups.html?_r=0',
        img: 'img/nyt-t-logo.png',
        title: 'Silicon Beach - The Next Big Thing?',
        sub: 'There’s this guarded optimism, at least that I feel, that everyone thinks L.A. could be the next big thing.',
    }

    const tc = {
        link: 'https://techcrunch.com/2014/10/08/theres-something-going-on-in-l-a/',
        img: 'img/tc-logo.jpg',
        title: "There's Something Going on in LA",
        sub: "Many people don’t realize that the majority of the monetization of the Internet originated in Los Angeles but was perfected in Silicon Valley.",
    }

    const bloomberg = {
        link: 'https://www.bloomberg.com/news/articles/2016-05-25/growing-l-a-tech-scene-bets-on-entertainment-beyond-cat-videos',
        img: 'img/b-logo.png',
        title: "Growing L.A. Tech Scene Bets on Entertainment",
        sub: "Los Angeles’s technology industry is riding a wave of Internet video innovation that threatens to swamp the city’s last outpost of bohemian beach culture.",
    }
